# Telegram
TELEGRAM_BOT_TOKEN=7805780868:AAESFXGhd4tGS9jEpFcSrifvLqTf30m3HcE

# Firebase
FIREBASE_SERVICE_ACCOUNT_JSON/firebase/serviceAccountKey.json
FIREBASE_PROJECT_ID=codingwithchitra-eacf9

# CSX API
CSX_BASE_URL=https://csx.com.kh
CSX_LANG=en

# Optional (default user if you want)
DEFAULT_USER_ID=u001

# Logfire (observability)
LOGFIRE_TOKEN=your-logfire-write-token
